*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(205, 237, 255), white, rgb(205, 237, 255));
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

.section-bar-box {
  display:grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 50px);
}

.section-bar-box button{
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  border: 1px solid white;
  background: rgba(7, 86, 139, .90);
  color: white;
}
.section-bar-box button:hover{
  font-weight: bold;
  background: rgba(7, 86, 139, .6);
}

.question-box{
  display:flex;
  align-items:center;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
.question-box .question{
  width: 600px;
  height: 60px;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
  line-height: 20px;
  /* border: 1px solid white; */
  /* background-color: rgba(137, 211, 245, 0.5); */
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

.question-box .question:hover{
  background-color: rgba(173, 233, 241, 0.95);
  font-weight: bold;
}